<h1>Welcome to the my Awesome page.  Please fill out this simple <%= link_to 'form', new_question_path %> to enter to win a special prize!!</h1>

<h2> And the winner is . . .</h2>
<h3>Name: <%= @question.name %></h3>
<h4> State: <%= @question.state %></h4>
<h5> Congratulations, <%= @question.name %>!!  You are truly a winner!!</h5>
